[project]
	description = AppEtt
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Waseem S. (soomro)
[access "refs/for/refs/*"]
	read = group user/Waseem S. (soomro)
	push = group user/Waseem S. (soomro)
	label-Code-Review = -2..+2 group user/Waseem S. (soomro)
	label-Verified = -1..+1 group user/Waseem S. (soomro)
	rebase = group user/Waseem S. (soomro)
	removeReviewer = group user/Waseem S. (soomro)
	submit = group user/Waseem S. (soomro)
[access "refs/heads/*"]
	read = group user/Waseem S. (soomro)
	create = group user/Waseem S. (soomro)
	push = +force group user/Waseem S. (soomro)
	pushMerge = group user/Waseem S. (soomro)
[access "refs/tags/*"]
	push = group user/Waseem S. (soomro)
	push = +force group user/Waseem S. (soomro)
